body {
    background: #caf0f8
}

h1 {
    color: #03045e;
    font-family: monospace;
}

.all {
 display: flex;
}

#mapText {
    text-align: left;
    color: #0077b6;
    font-family: monospace;
    font-size: 16px;

}

#map {
    position: absolute;
    display: flex;
    margin-left: 20px;
    box-shadow: 5px 5px 5px #888888;
    height: 300px;
    width: 400px;
}


#chartText {
    display: flex;
    justify-content: left;
    color: #0077b6;
    font-family: monospace;
    font-size: 16px;

}

.myChart {
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: center;

}


.leftPart {
    display: flex;
    width: 50%;
    height: 75%;
}
.rightPart {
    display: flex;
    width: 50%;
    height: 75%;
}

h1 {
    text-align: center;
}
