.all {
 display: flex;
}

#mapText {
    text-align: left;
}

#map {
    position: absolute;
    display: flex;
    margin-left: 20px;
    box-shadow: 5px 5px 8px #888888;
    height: 300px;
    width: 300px;
}


#chartText {
    display: flex;
    justify-content: left;

}

.myChart {
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: center;

}


.leftPart {
    display: flex;
    width: 50%;
    height: 75%;
}
.rightPart {
    display: flex;
    width: 50%;
    height: 75%;
}

h1 {
    text-align: center;
}